@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.topname {
    font-weight: bolder;
    cursor: pointer;
}

.navbar button {
    width: 190px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
}

.herosection {
    background-image: url(assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    gap: 25px;
}

h1 {
    text-align: center;
    font-size: 48px;

}

p {
    text-align: center;
    font-size: 16px;
    max-width: 58vw;
    color: rgb(100, 100, 100);
}

.herosection a {
    width: 244px;
    height: 65px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    height: 10vh;
}

.card-gap {
    height: 5vh;

}

.discription {
    max-width: 80vw;
    margin: auto;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    height: 185vh;
}

.disc-first,
.insparation-head,
.first-disc {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    margin: 55px 0px 28px;
}

.disc-second,
.insparation-reason,
.second-disc {
    text-align: center;
    font-size: 16px;
    max-width: 65vw;
    margin: auto;
    margin-bottom: 35px;
    color: rgb(100, 100, 100);
}

.card1 {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    max-width: 65vw;
    margin: auto;


}

.innertext {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 37vw;
    color: rgb(100, 100, 100);
    border-radius: 18px 0px 0px 18px;
}

.innertext h2,
h4,
button {
    margin-left: 35px;

}

.card1 button {
    width: 12vw;
    height: 7vh;
    font-weight: bolder;
    font-size: larger;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

.card2 {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    max-width: 65vw;
    margin: auto;


}

.card2 .innertext {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 37vw;
    color: rgb(100, 100, 100);
    border-radius: 0px 18px 18px 0px;
}

.innertext h2,
h4,
button {
    margin-left: 35px;

}

.card2 button {
    width: 12vw;
    height: 7vh;
    font-weight: bolder;
    font-size: larger;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

.card3 {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    max-width: 65vw;
    margin: auto;


}

.innertext {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 37vw;
    color: rgb(100, 100, 100);
    border-radius: 18px 0px 0px 18px;
}

.innertext h2,
h4,
button {
    margin-left: 35px;

}

.card3 button {
    width: 12vw;
    height: 7vh;
    font-weight: bolder;
    font-size: larger;
    color: rgb(100, 100, 100);
    cursor: pointer;
}

.insparation {
    max-width: 80vw;
    margin: auto;
}

.insparation-vedio {
    border: 2px solid rgb(192 192 192);
    border-radius: 18px;
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insparation-vedio video {
    margin: 25px;
    width: 70vw;
    border-radius: 18px;
    cursor: pointer;
}

.three-card-description {
    max-width: 80vw;
    margin: auto;
}

.three-card {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card4 {
    width: 20vw;
    height: 38vh;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(228 156 156 / 21%);
    padding: 8px;
}

.icon {
    margin: 20px;
}

.heading {
    font-size: large;
    font-weight: 900;
    padding: 10px;
}

.heading-disc {
    font-size: 16px;
    color: rgb(100, 100, 100);
    padding: 10px;
}

.card4 a {
    font-weight: bolder;
    color: black;
    padding: 10px;
}

.card5 {
    width: 20vw;
    height: 38vh;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(125 134 208 / 21%);
    padding: 8px;
}

.icon {
    margin: 20px;
}

.heading {
    font-size: large;
    font-weight: 900;
    padding: 10px;
}

.heading-disc {
    font-size: 16px;
    color: rgb(100, 100, 100);
    padding: 10px;
}

.card5 a {
    font-weight: bolder;
    color: black;
    padding: 10px;
}

.card6 {
    width: 20vw;
    height: 38vh;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(228 220 179 / 26%);
    padding: 8px;
}

.icon {
    margin: 20px;
}

.heading {
    font-size: large;
    font-weight: 900;
    padding: 10px;
}

.heading-disc {
    font-size: 16px;
    color: rgb(100, 100, 100);
    padding: 10px;
}

.card6 a {
    font-weight: bolder;
    color: black;
    padding: 10px;
}

.card7 {
    display: flex;
    align-items: center;
    border: 2px solid rgb(192 192 192);
    border-radius: 15px;
    width: 80vw;
    height: 30vh;
    margin: auto;
}

.react {
    padding: 10px;
}

.react-disc {
    padding: 10px;
    font-size: 16px;
    max-width: 58vw;
    color: rgb(100, 100, 100);
}

.card7 a {
    font-weight: bolder;
    color: black;
    padding: 10px;
}

.image {
    width: 10vw;
    text-align: center;
}

.card8 {
    display: flex;
    align-items: center;
    border: 2px solid rgb(192 192 192);
    border-radius: 15px;
    width: 80vw;
    height: 30vh;
    margin: auto;
}

.node {
    padding: 10px;
}

.node-disc {
    padding: 10px;
    font-size: 16px;
    max-width: 58vw;
    color: rgb(100, 100, 100);
}

.card8 a {
    font-weight: bolder;
    color: black;
    padding: 10px;
}

.image {
    width: 10vw;
    text-align: center;
}

.card9 {
    display: flex;
    align-items: center;
    border: 2px solid rgb(192 192 192);
    border-radius: 15px;
    width: 80vw;
    height: 30vh;
    margin: auto;
}

.mongo {
    padding: 10px;
}

.mongo-disc {
    padding: 10px;
    font-size: 16px;
    max-width: 58vw;
    color: rgb(100, 100, 100);
}

.card9 a {
    font-weight: bolder;
    color: black;
    padding: 10px;
}

.image {
    width: 10vw;
    text-align: center;
}

.support {
    max-width: 80vw;
    margin: auto;
    height: 50vh;
    border: 2px solid black;
    background-image: url(/assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgb(59 59 59 / 81%);
    background-blend-mode: overlay;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sup-head {
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.sup-head2 {

    color: #ffffff5e;
    font-size: 16px;
}

.big-box {
    width: 22vw;
    padding: 10px;
    border-radius: 8px;
}

.sub {
    width: 8vw;
    padding: 10px;
    border-radius: 8px;
}