@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}

.topname {
    font-weight: bolder;
}

.navbar button {
    width: 190px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid black;
}

.herosection {
    background-image: url(assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 95vh;
    gap: 25px;
}

h1 {
    text-align: center;
    font-size: 48px;

}

p {
    text-align: center;
    font-size: 16px;
    max-width: 58vw;
    color: rgb(100, 100, 100);
}

.herosection a {
    width: 244px;
    height: 65px;
    border-radius: 5px;
    font-weight: bolder;
    cursor: pointer;
    background-color: black;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gap {
    height: 10vh;
}

.card-gap {
    height: 5vh;

}

.discription {
    max-width: 80vw;
    margin: auto;
    background-color: rgb(250, 250, 250);
    border-radius: 15px;
    height: 185vh;
}

.disc-first,
.insparation-head,
.first-disc {
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    margin: 55px 0px 28px;
}

.disc-second,
.insparation-reason,
.second-disc {
    text-align: center;
    font-size: 16px;
    max-width: 65vw;
    margin: auto;
    margin-bottom: 35px;
    color: rgb(100, 100, 100);
}

.card1 {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    max-width: 65vw;
    margin: auto;


}

.innertext {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 37vw;
    color: rgb(100, 100, 100);
    border-radius: 18px 0px 0px 18px;
}

.innertext h2,
h4,
button {
    margin-left: 35px;

}

.card1 button {
    width: 12vw;
    height: 7vh;
    font-weight: bolder;
    font-size: larger;
    color: rgb(100, 100, 100);
}

.card2 {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    max-width: 65vw;
    margin: auto;


}

.card2 .innertext {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 37vw;
    color: rgb(100, 100, 100);
    border-radius: 0px 18px 18px 0px;
}

.innertext h2,
h4,
button {
    margin-left: 35px;

}

.card2 button {
    width: 12vw;
    height: 7vh;
    font-weight: bolder;
    font-size: larger;
    color: rgb(100, 100, 100);
}

.card3 {
    display: flex;
    justify-content: space-between;
    height: 45vh;
    max-width: 65vw;
    margin: auto;


}

.innertext {
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 37vw;
    color: rgb(100, 100, 100);
    border-radius: 18px 0px 0px 18px;
}

.innertext h2,
h4,
button {
    margin-left: 35px;

}

.card3 button {
    width: 12vw;
    height: 7vh;
    font-weight: bolder;
    font-size: larger;
    color: rgb(100, 100, 100);
}

.insparation {
    max-width: 80vw;
    margin: auto;
}

.insparation-vedio {
    border: 2px solid rgb(120, 120, 120);
    border-radius: 18px;
    width: 75vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insparation-vedio video {
    margin: 25px;
    width: 70vw;
    border-radius: 18px;
}

.three-card {
    border: 2px solid rgb(120, 120, 120);
    max-width: 80vw;
    margin: auto;
}